[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
requests = "*"
pytz = "*"
aiohttp = "*"
lxml = "*"
aiofiles = "*"
google-cloud-translate = "*"
xmltodict = "*"
polyleven = "*"
aiofile = "*"
pytest = "*"
websockets = "*"
roman = "*"
num2words = "*"

[dev-packages]

[requires]
python_version = "3.8"
